@charset "utf-8";
html,body,input,select,textarea,img{-webkit-appearance: none;font-size: 12px;margin:0;padding:0;font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;}
/*html, body, input, select, textarea, img{ -webkit-appearance:none; font-size:12px; margin:0; padding:0; font-family:'Bree Serif', serif; }*/
ul, p, span, h1, h2, h3, h4, h5, h6{ -webkit-appearance:none; margin:0; padding:0; }
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:middle; }
@media screen and (min-width:320px){
    html{ font-size:12px; }
}
@media screen and (min-width:375px){
    html{ font-size:14px; }
}
@media screen and (min-width:414px){
    html{ font-size:14px; }
}
@media screen and (min-width:768px){
    html{ font-size:14px;}
}
body{margin: 0;height: 100%;background-color:#000;}
html,#mb_content,#pc_content{height: 100%;}
input{-webkit-appearance: none;border-radius: 0;}


.item-add{
    -webkit-animation: itemadd 0.5s;
}
@-webkit-keyframes itemadd{
    from{opacity: 0;}
    to{opacity: 1;}
}

.item-remove{
    -webkit-animation: itemremove 0.5s;
}
@-webkit-keyframes itemremove{
    from{opacity: 1;}
    to{opacity: 0;}
}


#none_menu{color: #FFFFFF;text-align: center;font-size:16px;margin:40px 5%;background-color:rgba(0,0,0,0.8);width: 90%;height: 80px;border-radius: 10px;line-height: 20px;padding-top: 30px;float: right;clear: both;}
#main_content{ position:fixed; top:0; left:0; width:100%; height:100%; background-color:#FFFFFF; z-index:1; text-align:center }
#editbtnwrapper{ background-image:url('../img/bg.jpg'); background-size:100%; height:32vh; background-position:0 -10vh; line-height:32vh; vertical-align:middle; text-align:center; }
#btn_edit{ background-color:rgba(97, 97, 97, 0.3); color:#FFFFFF; font-size:2rem; border:0; border-radius:4px; display:inline-block; width:34vh; height:4rem; box-shadow:0px 4px 10px #232323; }
#main_banner img{ width:32%; display:block; margin:10% auto; }
#main_banner span{ color:#BABABA; font-size:1.2rem;}
#reswrapper{font-size:1.6rem; text-align:center;color:#959595;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;margin:12% auto;}
#edit_wrapper{width:100%; height:100%; z-index:2; background-image:url('../img/bg2.jpg'); background-size:100% 100%;}
#btn_clear{ color:#FFFFFF }
#btn_return{ float:left; background-color:rgba(156, 156, 156, 0.5); color:#FFFFFF; font-size:1.4rem; border:0; border-radius:4px; display:inline-block; width:42vw; height:2.8rem; box-shadow:0px 4px 10px #232323; margin:4vh 0 0 4vw; }
#btn_default{ float:right; background-color:rgba(156, 156, 156, 0.5); color:#FFFFFF; font-size:1.4rem; border:0; border-radius:4px; display:inline-block; width:42vw; height:2.8rem; box-shadow:0px 4px 10px #232323; margin:4vh 4vw 0 0; }
#list_wrapper{ color:#FFFFFF; margin:6.2rem 8vw 0 8vw; overflow:auto; position:absolute; top:0; left:0; right:0; bottom:24vw;-webkit-overflow-scrolling:touch; }
.item{ position:relative; border-radius:4px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-bottom:.6rem; background-color:rgba(107, 106, 105, 0.68); }
.item .menu_name{ position:relative; color:#FFFFFF; z-index:2; font-size:1.2rem; line-height:3.2rem; margin-left:1rem; }
.item .close{ font-size:2rem; position:absolute; right:0; z-index:2; display:block; top:0; height:100%; background-color:#f39800; width:3.2rem; line-height:3.2rem; text-align:center; font-weight:600; }
#btn_add{ position:fixed; bottom:0; right:0;}
#btn_add img{position: absolute;bottom: 0;right: 0;width: 80px;}
#loading{ position:absolute; top:0; left:0; right:0; bottom:0; background-color:#ed5565; z-index:3; text-align:center; }
#loading .loading_wrapper{ width:140px; height:200px; box-sizing:border-box;margin:200px auto;position:relative;left:40px;}

.res-animate{-webkit-animation:resframes 1.5s linear 0 ;}
@-webkit-keyframes resframes{
    0%{-webkit-transform:translateY(-30px);}
    12%{-webkit-transform:translateY(0px);}
    24%{-webkit-transform:translateY(-25px);}
    36%{-webkit-transform:translateY(0px);}
    48%{-webkit-transform:translateY(-20px);}
    60%{-webkit-transform:translateY(0px);}
    70%{-webkit-transform:translateY(-15px);}
    80%{-webkit-transform:translateY(0px);}
    90%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0px);}
}




#pc_content{width:800px;color:#FFFFFF;margin: 0 auto;text-align: center;position: relative;overflow: hidden;}
#pc_menu{position: fixed;top: 0;right: 0;bottom: 0;background-color: #ff8e2c;width: 300px;}
#pc_content h1{font-size: 40px;line-height: 1;margin: 40px 0;}
#pc_editbtn{position: absolute;left: 100px;top: 0;font-size: 16px;cursor: pointer;border: 1px solid #FFFFFF;padding: 10px;}
#pc_explain{position: absolute;top: 0;left: 0;font-size: 16px;cursor: pointer;border: 1px solid #FFFFFF;padding: 10px;}
#pc_start_random{background-color:#000002;border:1px solid #FFFFFF;outline: 0;color: #FFFFFF;font-size: 20px;width: 110px;height: 44px;line-height: 40px;cursor: pointer;}
#pc_res{margin-top: 20px;font-size: 20px;}
.pc_menubtn{color:#F24747;background-color:transparent;padding: 4px;border:1px solid #F24747;margin: 10px;font-size: 16px;cursor: pointer;}
#pc_list_wrapper{text-align: left;margin:20px 50px;}
.pc_menuitem{font-size: 16px;line-height: 30px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.pc_menuitem p{display: inline-block}
.pc_menuitem span{float: right;font-weight: 200;font-size: 22px;cursor: pointer;}
#pc_addmenu{color:#F24747;background-color:transparent;padding: 4px;border:1px solid #F24747;margin: 10px;font-size: 16px;cursor: pointer;}


@-webkit-keyframes pacman-balls{
    75%{
        opacity:0.7; }
    100%{
        -webkit-transform:translate(-100px, -6.25px);
        transform:translate(-100px, -6.25px); }
}
@keyframes pacman-balls{
    75%{
        opacity:0.7; }
    100%{
        -webkit-transform:translate(-100px, -6.25px);
        transform:translate(-100px, -6.25px); }
}
.pacman{
    position:relative; }
.pacman > div:nth-child(2){
    -webkit-animation:pacman-balls 1s -0.99s infinite linear;
    animation:pacman-balls 1s -0.99s infinite linear; }
.pacman > div:nth-child(3){
    -webkit-animation:pacman-balls 1s -0.66s infinite linear;
    animation:pacman-balls 1s -0.66s infinite linear; }
.pacman > div:nth-child(4){
    -webkit-animation:pacman-balls 1s -0.33s infinite linear;
    animation:pacman-balls 1s -0.33s infinite linear; }
.pacman > div:nth-child(5){
    -webkit-animation:pacman-balls 1s 0s infinite linear;
    animation:pacman-balls 1s 0s infinite linear; }
.pacman > div:first-of-type{
    width:0px;
    height:0px;
    border-right:25px solid transparent;
    border-top:25px solid #fff;
    border-left:25px solid #fff;
    border-bottom:25px solid #fff;
    border-radius:25px;
    -webkit-animation:rotate_pacman_half_up 0.5s 0s infinite;
    animation:rotate_pacman_half_up 0.5s 0s infinite;
    position:relative;
    left:-30px; }
.pacman > div:nth-child(2){
    width:0px;
    height:0px;
    border-right:25px solid transparent;
    border-top:25px solid #fff;
    border-left:25px solid #fff;
    border-bottom:25px solid #fff;
    border-radius:25px;
    -webkit-animation:rotate_pacman_half_down 0.5s 0s infinite;
    animation:rotate_pacman_half_down 0.5s 0s infinite;
    margin-top:-50px;
    position:relative;
    left:-30px; }
.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6){
    background-color:#fff;
    width:15px;
    height:15px;
    border-radius:100%;
    margin:2px;
    width:10px;
    height:10px;
    position:absolute;
    -webkit-transform:translate(0, -6.25px);
    -ms-transform:translate(0, -6.25px);
    transform:translate(0, -6.25px);
    top:25px;
    left:70px; }
@-webkit-keyframes rotate_pacman_half_up{
    0%{
        -webkit-transform:rotate(270deg);
        transform:rotate(270deg); }
    50%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg); }
    100%{
        -webkit-transform:rotate(270deg);
        transform:rotate(270deg); }
}
@keyframes rotate_pacman_half_up{
    0%{
        -webkit-transform:rotate(270deg);
        transform:rotate(270deg); }
    50%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg); }
    100%{
        -webkit-transform:rotate(270deg);
        transform:rotate(270deg); }
}
@-webkit-keyframes rotate_pacman_half_down{
    0%{
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg); }
    50%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg); }
    100%{
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg); }
}
@keyframes rotate_pacman_half_down{
    0%{
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg); }
    50%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg); }
    100%{
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg); }
}
@-webkit-keyframes keyframehide /* Safari 和 Chrome */
{
    from{ opacity:1; }
    to{ opacity:0; }
}
#loading.fadeout{ -webkit-animation:keyframehide 0.5s forwards; }
